.headerEditColumns {
    display: table;
}
.headerEditColumns tr {
    display: table-row;
}

.newTableView {
    width: 100%;
}
.newTableView tbody tr {
    text-align: left;
    vertical-align: top;
}