<div id="a_submenu"> 
	<div class="bd" style="width:130px;background-image:url(img/cmenu_bg.png)"> 
		<ul class="submenu"> 
			<li id="button_details_adr"><img src="img/Oxygen/16/actions/help-about.png" /> Info</li>
			<li id="button_export2"><img src="img/icons/folder_next.png" /> Export</li>
			<li id="import_status_aendern"><img src="img/icons/favorite.png" /> Status &auml;ndern</li>
		</ul>
		<ul class="submenu" id="a_rep">
			<li id="button_import_analyse"><img src="img/icons/chart.png" /> Analyse</li>
		</ul>
		<ul class="submenu">
			<li id="button_del_a"><img src="img/icons/remove.png" /> L&ouml;schen</li>
			<li id="button_del_a_deactive" style="color:#CCCCCC"><img src="img/icons/remove.png" /> L&ouml;schen</li>
		</ul>
	</div> 
</div>