body, td, h1, h2, h3, input, select {
    color: #333333;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 10pt;
}

h1 {
    font-size : 140%;
    background-color: red;
    color: white;
    padding-top: 2pt;
    padding-bottom: 2pt;
}

h2 {
    background-color: #999999;
    color: white;
    padding-top: 1pt;
    padding-bottom: 1pt;
}

td {
    padding-right: 8pt;
    padding-bottom: 4pt;
}
