/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/
#menu_buttons .yui-button {
	vertical-align:text-bottom;
	font-size:11px;
	color:#303030;
}
#menu_buttons .yui-button  {
	background-color:transparent;
*overflow:visible;
	cursor:pointer;
}
#menu_buttons .yui-button a {
	text-decoration:none;
}
#menu_buttons .yui-skin-sam .yui-button {
	border-width:0;
	border-style:solid;
	border-color:#808080;
	background:url(sprite.png) repeat-x 0 0;
}
#menu_buttons .yui-skin-sam .yui-button .first-child {
	border-width:0;
	border-style:solid;
	border-color:#808080;
	margin:0;
	_margin:0;
}
#menu_buttons .yui-skin-sam .yui-button button, 
#menu_buttons .yui-skin-sam .yui-button a, 
#menu_buttons .yui-skin-sam .yui-button a:visited {
	font-size:93%;
*min-height:auto;
	color:#303030;
	font-size:11px;
}
#menu_buttons .yui-skin-sam .yui-button a {
*line-height:1.875;
*padding-bottom:1px;
}
#menu_buttons .yui-skin-sam .yui-split-button button,
#menu_buttons .yui-skin-sam button {
	background-position:right center;
	background-repeat:no-repeat;
}
#menu_buttons .yui-skin-sam .yui-menu-button button {
	background-image:url(menu-button-arrow.png);
}
#menu_buttons .yui-skin-sam .yui-split-button button {
	background-image:url(split-button-arrow.png);
}
#menu_buttons .yui-skin-sam .yui-button-focus {
	border-color:#7D98B8;
	background-color:red;
}
#menu_buttons .yui-skin-sam .yui-button-focus .first-child {
	border-color:#7D98B8;
	background-color:red;
}
#menu_buttons .yui-skin-sam .yui-split-button-focus button {
	background-image:url(split-button-arrow-focus.png);
}

#menu_buttons .yui-skin-sam .yui-button-active {
	border-color:#7D98B8;
	background-position:0 -1700px;
}
#menu_buttons .yui-skin-sam .yui-button-active .first-child {
	border-color:#7D98B8;
}
#menu_buttons .yui-skin-sam .yui-split-button-activeoption {
	border-color:#808080;
	background-position:0 0;
}
#menu_buttons .yui-skin-sam .yui-split-button-activeoption .first-child {
	border-color:#808080;
}
#menu_buttons .yui-skin-sam .yui-split-button-activeoption button {
	background-image:url(split-button-arrow-active.png);
}
#menu_buttons .yui-skin-sam .yui-radio-button-checked,
#menu_buttons .yui-skin-sam .yui-checkbox-button-checked {
	border-color:#304369;
	background-position:0 -1400px;
}
#menu_buttons .yui-skin-sam .yui-radio-button-checked .first-child,
#menu_buttons .yui-skin-sam .yui-checkbox-button-checked .first-child {
	border-color:#304369;
}
#menu_buttons .yui-skin-sam .yui-radio-button-checked button,
#menu_buttons .yui-skin-sam .yui-checkbox-button-checked button {
	color:#fff;
}
#menu_buttons .yui-skin-sam .yui-button-disabled {
	border-color:#ccc;
	background-position:0 -1500px;
}
#menu_buttons .yui-skin-sam .yui-button-disabled .first-child {
	border-color:#ccc;
}
#menu_buttons .yui-skin-sam .yui-button-disabled button,
#menu_buttons .yui-skin-sam .yui-button-disabled a,
#menu_buttons .yui-skin-sam .yui-button-disabled a:visited {
	color:#A6A6A6;
	cursor:default;
}

#menu_buttons .yui-skin-sam .yui-menu-button-disabled button {
	background-image:url(menu-button-arrow-disabled.png);
}
#menu_buttons .yui-skin-sam .yui-split-button-disabled button {
	background-image:url(split-button-arrow-disabled.png);
}



#menu_buttons button {
	height:31px;
	margin-left:2px;
	padding:5px;
	border:1px solid transparent;
	float:left;
}

#menu_buttons button:hover {
	border:1px solid #CCCCCC;
	margin-left:2px;
	background-image: url(../img/button_bg.png);
	background-repeat: repeat-x;
	float:left;
	
}

#menu_buttons button:active {
	background-image: url(../img/button_bg_active.png);
	background-repeat: repeat-x;
}

#menu_buttons .menu_img {float:left;margin-top:-2px;}
#menu_buttons .button_text {margin-top:2px;float:right;margin-left:5px;}

.select_menu {
	margin-top:7px;
	background-color:transparent;
	color:#333333;
	margin-left:2px;
	border-width:1px;
	border-color:transparent;
	float:left;
}

.select_menu:hover {
	border:1px solid #CCCCCC;
	background-image: url(../img/button_bg.png);
	background-repeat: repeat-x;
}

