body, html {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	visibility: hidden;
}


table 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
a {text-decoration:none;color:blue}
a:visited {text-decoration:none;}
a:hover {color:#8e8901}
a:active { text-decoration:expression(hideFocus='true'); }

#tabelle 
{
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#tabelle td{border: thin gray solid;}
.ueberschrift {font-weight:bold;background-color:#D8D8DA;color:#000000;}
#hilfe {
	width:300px;
	margin-left:15px;
	float:left;
	color:#333333;
}

.bg_blau {background-color:#EDF5FF;}
.bg_weiss {background-color:#FFFFFF;}
#hilfe h1 {color:#0066FF;font-size:12px;font-weight:bold;}

#menu a {color:#FFFFFF;text-decoration:none;font-weight:bold;}
#menu a:visited {color:#FFFFFF;text-decoration:none;font-weight:bold;}
#menu a:hover{border-bottom:1px solid #FF00FF;color:#FFFFFF;}
.a_selected {border-bottom:1px solid #FF00FF;color:#FFFFFF;}

.submenu {
	margin-left:-3px;
}


.submenu li {
	text-align:left;
	cursor:pointer;
	color:#1A1A1A;
}

.submenu li img{
	float:left;
	width: 12px;
	margin-top:2px;
	margin-right:-5px;
	margin-left:-10px;
}

.a_checkbox {
 border:0px;
}

.status_rep {font-size:9px;text-align: center;}

.tab_bg {
	background:url(../img/button_bg.png);
	background-repeat:repeat-x;
	font-weight:bold;
	color:#003463;
}

.tab_bg th{
	vertical-align:middle;
}

#tab_bg2 {
	background-color:#f4fbea;
}
.kw {
	height:40px;
	vertical-align:bottom;
	font-weight:bold;
	color:#6d9806;
}
.kw_now {
	height:40px;
	vertical-align:bottom;
	font-weight:bold;
	color:#325C07;
}
#tab_felder_v td {
	padding:3px;
}
#data_table_planer .cell_style_year {
	height:60px;
	vertical-align:bottom;
	font-weight:bold;
	color:#6d9806;
	border-bottom:2px solid #6d9806;
}
#standard {
	margin-left:-1px;
	margin-top:-1px;
	margin-bottom:-1px;
}
a {
	text-decoration: none;
	color: #555555;
}


#top1 {
	/*background-color:#40547A;*/
	background-color:#FFFFFF;
}

#top1 select {
	height:15px;
	padding:0px;
	/*background-color:#40547A;*/
	background-color:#FFFFFF;
	/*color:#FFFFFF;*/
	color:#000000;
	border:0px;
	/*border-color:#40547A;*/
	border-color:#FFFFFF;
	font-weight:bold;
}
#top1 table td {
	padding:5px;
}
#top2 {
	background-color:#FFFFFF;
	margin:0px;
	padding:0px;
}
#data_table td {
	height:20px;
	padding:3px;
	border:0px;
	cursor:pointer;
	border:1px solid #CCCCCC;
}

#data_table2 td {
	height:20px;
	padding-right:5px;
	padding-left:5px;
	border:0px;
	border-right:1px dotted silver;
}



#data_table_adr td {
	height:25px;
	padding:3px;
	border:0px;
	cursor:pointer;
	border-right:1px dotted silver;
}

#data_table_adr .pkz {
	font-weight:bold;
	color:#800080;
}

#data_table_planer {
	background-color:#FFFFFF;
}
#data_table_planer td {
	padding: 5px;
	border:0px;
	cursor:pointer;
	font-size:11px;
}

#bottom {
	margin-top:-1px;
	margin-left:-1px;
}
#bottom table {
	font-size:11px;
	width:100%;
}
#bottom table td {
	height:25px;
	padding-right:5px;
	padding-left:5px;
}
.details_hd {
	background:url(../img/button_bg.png);
	background-repeat:repeat-x;
	font-weight:bold;
	color:#003463;
	white-space:nowrap;
}
.details {
	background-color:#FFFFFF;
	color:#000000;
	text-align:right;
	border-right:1px solid silver;
}
.details2 {
	background-color:#FFFFFF;
	color:#000000;
	width:100%;
}

.details_hd_info {
	font-weight:bold;
	color:#333333;
	font-size:12px;
	padding:2px;
	padding-left:5px;
	background:#F2F2F2;
	height:40px;
	vertical-align:bottom;
	border-bottom:1px dashed #999999;
	text-align:right;
	white-space:nowrap;
}
.details_info {
	color:#8e8901;
	text-align:right;
	font-weight:bold;
	padding:5px;
	background-color:#F2F2F2;
	white-space:nowrap;
}

.details2_info input[type=text]{
	width: 185px;
}

.details2_info2 input[type=text]{
	width: 185px;
}

.details2_info {
	color:#1A1A1A;
	width:100%;
	padding:5px;
	background-color:#F2F2F2;
	text-align:left;
	white-space:nowrap;
}

.details_info2 {
	color:#8e8901;
	text-align:right;
	font-weight:bold;
	padding:5px;
	background-color:#E4E4E4;
	white-space:nowrap;
}

.details2_info2 {
	color:#1A1A1A;
	width:100%;
	padding:5px;
	background-color:#E4E4E4;
	text-align:left;
	white-space:nowrap;
}

.details2_info3 {
	color:#1A1A1A;
	padding:5px;
	background-color:#E4E4E4;
}

.details_info3 {
	color:#1A1A1A;
	padding:5px;
	background-color:#F2F2F2;
}



.details_hd_planer {
	background-color:#008040;
	width:100%;
	font-weight:bold;
	color:#FFFFFF;
}
.details_planer {
	background-color:#FFFFFF;
	color:#000000;
	text-align:right;
	border-right:1px solid silver;
}
.details2_planer {
	background-color:#FFFFFF;
	color:#000000;
	width:100%;
}
.details_a {
	background-color:#ecf3fd;
	font-weight:bold;
	color:#000000
}
.details2_a {
	width:150px;
	background-color:#FFFFFF;
	font-weight:bold;
	color:#ff8800
}
.bold {
	font-weight:bold;
}
.neu_k {
	width:100%;
	padding:0px;
}

.neu_k td {
	padding:5px;
	height:20px;
}

.adr {
	margin-left:5px;
}
.adr td {
	padding:5px;
}

.adr input {
	width:200px;
}

#neu_v {
	font-size:11px;
}
#neu_v td {
	padding:5px;
}
#del_v td {
	padding:5px;
}
.info {
	color:#8e8901;
	font-weight:bold;
	white-space: nowrap;
}

.info_anfrage {
	color:#8e8901;
	font-size:11px;
}

.inp_vs {
	width: 350px
}

#anfrage_details table tr td {
	padding-top:0px;
	padding-bottom:2px;
}

.anfrage_table tr td {
	padding:2px;
	font-size:10px;
}

.info_input {
	background-color:#FFFFFF;
	border:0px;
}
.info_input_vorgabe {
	background-color:#EEEEEE;
	border:0px;
	text-align:right;
}
.info_textarea {
	background-color:#EEEEEE;
	border:0px;
}
.first-child img {
	margin-top:-5px;
	vertical-align:middle;
}
.first-child .small img {
	margin-top:-2px;
	vertical-align:middle;
}

#treewrapper {
	background: #fff;
	position:relative;
}

#tree_kampagnen {
	position:relative;
	background: #f8f8f8;
	padding:1em;
}

#tree_adressen {
	position:relative;
	background: #fff;
	padding:1em;
}

.icon-overview {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/icons/favorite.png) no-repeat;
}

.icon-campaign {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/Tango/16/mimetypes/office-spreadsheet.png) no-repeat;
}

.icon-superview {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/Tango/16/apps/media-photo-album.png) no-repeat;
}

.icon-ordner {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/icons/folder_full.png) no-repeat;
}
.icon-aktuell {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/Oxygen/16/apps/preferences-clock.png) no-repeat;
}
.icon-planer {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/Oxygen/16/apps/office-calendar.png) no-repeat;
}
.icon-agenturen {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/Tango/16/mimetypes/office-contact.png) no-repeat;
}
.icon-analyse {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/Tango/16/apps/office-spreadsheet.png) no-repeat;
}

.icon-selektion {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/Oxygen/16/actions/edit-find.png) no-repeat;
}

.icon-selektion-plz {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/Oxygen/16/actions/view-sort-descending.png) no-repeat;
}

.icon-report {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/icons/note_edit.png) no-repeat;
}

.icon-live {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/Tango/16/apps/utilities-system-monitor.png) no-repeat;
}

.icon-user {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/Tango/16/apps/preferences-users.png) no-repeat;
}

.icon-adressen {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/Tango/16/places/folder.png) no-repeat;
}

.icon-realtime {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/Tango/16/places/folder-remote.png) no-repeat;
}

.icon-admin {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/icons/process.png) no-repeat;
}


.icon-adressen_search {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/icons/database_search.png) no-repeat;
}

.icon-adressen_remove {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/icons/database_add.png) no-repeat;
}

.icon-unsubscribe {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/icons/database_remove.png) no-repeat;
}

.icon-support_tel {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/Hardware-HeadPhones-icon-small.png) no-repeat;
}

.icon-support_email {
	display:block;
	height: 22px;
	padding-left: 20px;
	background: transparent url(../img/Tango/16/actions/mail-receive.png) no-repeat;
}

.icon-gen {
	display:block;
	height: 22px;
	padding-left: 10px;
	background: transparent url(../treeview/assets/img/icons.png) 0 -108px no-repeat;
}
.icon-doc {
	display:block;
	height: 22px;
	padding-left: 10px;
	background: transparent url(../treeview/assets/img/icons.png) 0 -144px no-repeat;
}
.icon-jar {
	display:block;
	height: 22px;
	padding-left: 10px;
	background: transparent url(../treeview/assets/img/icons.png) 0 -180px no-repeat;
}
.icon-zip {
	display:block;
	height: 22px;
	padding-left: 10px;
	background: transparent url(../treeview/assets/img/icons.png) 0 -216px no-repeat;
}




.htmlnodelabel {
	margin-left: 20px;
}
#cal2Container {
	display:none;
	position:absolute;
	z-index:1
}

.yui-nav {
	font-size:11px;
}

.yui-navset .yui-nav li, #neu_tab li {
	margin:0; /* space between tabs */
	padding:0; /* gecko: make room for overflow */
	zoom:1;
	font-size:12px;
}
.yui-navset .yui-nav .selected a, .yui-navset .yui-nav .selected a:focus, /* no focus effect for selected */ .yui-navset .yui-nav .selected a:hover { /* no hover effect for selected */
	color:#fff;
}


#cal2Container td {
	padding:1px;
}
#cal2Container {
	display:none;
	position:absolute;
	z-index:1
}

#cal2Container_nv td {
	padding:1px;
}
#cal2Container_nv {
	display:none;
	position:absolute;
	z-index:1
}

#nv_calc_table {
	font-size:11px;
}

#nv_calc_table td{
	border: 1px solid #666666;
	padding:3px;
}

.hellblau {
	background-color:#BFC5FF;
}

.gelb {
	background-color:#FFFF66;
}

.myAutoComplete{margin-top:-10px;padding:0px;}


#bottom {
	background-color:#FFFFFF;
	height: 100%;
	width: 100%;
}



.i_gray {color:#666666;font-style:italic;}
	.nv {color:#333333;background-color:#FFFFFF;border:0px;}
	.nv_inp {color:#333333;background-color:#FFFFFF;border:0px;width:220px;}
	.nv_td {color:#333333;background-color:#FFFFFF;}
	.quote {font-weight:bold; text-align:right;}
	.info_input {background-color:#FFFFFF;border:0px;}
	.info_input_vorgabe {background-color:#EEEEEE;border:0px;text-align:right;}
	.info_textarea {background-color:#EEEEEE;border:0px;}
	.bold {font-weight:bold;}
	.nv_quote {color:#333333;background-color:#FFFFFF;border:0px;text-align:right;width:45px;}
	.anzeige {background-color:#EAEAEA;}
	.anzeige a{color:#0066FF}
	.button_seite {background-color:#FFFFFF; height:15px; border:1px dotted #333333; font-size:9px; float:right;}
	.button_now {background-color:#FFFFFF; height:15px; border:1px solid #333333; font-size:9px;float:right;}
	
	.qv_input_bold {background-color:#FFFFFF;border:0px;width:130px;font-weight:bold;}
	.qv_input {background-color:#FFFFFF;border:0px;width:130px}
	.dotted {border-bottom:1px dotted #999999}
	
	#myAutoComplete {
     /* set width here or else widget will expand to fit its container */
    padding-bottom:6px;
	}
    /* Clear calendar's float, using dialog inbuilt form element */
    #container .bd form {
        clear:left;
    }

    /* Have calendar squeeze upto bd bounding box */
    #container .bd {
        padding:0;
    }

    #container .hd {
        text-align:left;
    }

    /* Center buttons in the footer */
    #container .ft .button-group {
        text-align:center;
    }

    /* Prevent border-collapse:collapse from bleeding through in IE6, IE7 */
    #container_c.yui-overlay-hidden table {
        *display:none;
    }

    /* Remove calendar's border and set padding in ems instead of px, so we can specify an width in ems for the container */
    #cal {
        border:none;
        padding:1em;
    }

    /* Datefield look/feel */
    .datefield {
        position:relative;
        top:10px;
        left:10px;
        white-space:nowrap;
        border:1px solid black;
        background-color:#eee;
        width:25em;
        padding:5px;
    }

    .datefield input,
    .datefield button,
    .datefield label  {
        vertical-align:middle;
    }

    .datefield label  {
        font-weight:bold;
    }

    .datefield input  {
        width:15em;
    }

    .datefield button  {
        padding:0 5px 0 5px;
        margin-left:2px;
    }

    .datefield button img {
        padding:0;
        margin:0;
        vertical-align:middle;
    }

    /* Example box */
    .box {
        position:relative;
    }
	
	#chart
	{
		width: 900px;
		height: 450px;
	}
 
	.chart_title
	{
		display: block;
		font-size: 1.2em;
		font-weight: bold;
		margin-bottom: 0.4em;
	}
	
	#tabContainer
	{
		width: 900px;
		height: 500px;
	}
	
	
	
	#examplecontainer {
        padding:10px;
    }
 

    #resizablepanel .bd {
        overflow:auto;
        background-color:#fff;
        padding:10px;
    }
 
    #resizablepanel .ft {
        height:15px;
        padding:0;
    }
 
    #resizablepanel .yui-resize-handle-br {
        right:0;
        bottom:0;
        height: 8px;
        width: 8px;
        position:absolute;
    }
 
 
    #resizablepanel_c.hide-scrollbars .yui-resize .bd {
        overflow: hidden;
    }
 
    #resizablepanel_c.show-scrollbars .yui-resize .bd {
        overflow: auto;
    }
 
    #resizablepanel_c.show-scrollbars .underlay {
        overflow: visible;
    }
	
	
	#example {
    height:30em;
	}
	 
	label { 
		display:block;
		float:left;
		width:30%;
		clear:left;
		font-size:11px;
		color:#FF0000;
		font-weight:bold;
		padding-top:5px;
	}
	 
	.clear {
		clear:both;
	}
	 
	#resp {
		margin:10px;
		padding:5px;
		border:1px solid #ccc;
		background:#fff;
	}
	 
	#resp li {
		font-family:monospace
	}
	 
	.yui-pe .yui-pe-content {
		display:none;
	}
	
	.abstand_label {padding-top:8px;}

.bold {font-weight:bold;}


.yui-skin-sam .yui-layout {
	background-color:#AFAFAF;
}

.yui-skin-sam .yui-layout .yui-layout-hd {
	background:url(../img/blau_hell.png) repeat-x;
	border:0px;
	height:0px;
}


.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-hd h2 {
	font-weight:bold;
	color:#333333;
	padding:3px;
	margin:0px;
}

.yui-skin-sam .yui-navset .yui-content{background:#F2F2F2;}



.bd td input[type=text] {
	padding:2px;
	border-top:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	color:#151515;
	background-color:#FFFFFF;
}

.bd td input[type=text]:active {border:1px solid #8e8901}
.bd td input[type=text]:focus {border:1px solid #8e8901}

.stats {border:solid 1px #0066FF;padding:7px;background-color:#FFFFFF}
.stats legend {color:#0066FF;font-weight:bold;font-size:11px;border:0px;;padding:3px;}

.table_stats {border:1px solid #999999}
.table_stats td {padding:5px; height:20px; border-right: 1px dotted #999999; font-size:10px;text-align:right;}

.table_stats_red {border:0px;}
.table_stats_red td {padding:3px;height:15px;font-size:10px;}

.table_stats_vereinbarung {width:260px;border:0px}
.table_stats_vereinbarung td {padding:3px;font-size:10px;border-bottom:1px dotted #999999;}

.key_bg1 {background-color:#EDF5FF;text-align:right;vertical-align:top}
.stats_bg1 {background-color:#FFFFFF}

.stats_bg2 {background-color:#EDF5FF}
.key_bg2 {background-color:#DBEAFF;text-align:right;vertical-align:top}



.key_ten_bg1 {background-color:#EDF5FF;text-align:center;vertical-align:top}
.stats_ten_bg1 {background-color:#FFFFFF;text-align:right;}

.stats_ten_bg2 {background-color:#EDF5FF;text-align:right;}
.key_ten_bg2 {background-color:#DBEAFF;text-align:center;vertical-align:top}

.stats_red {border:solid 1px #ff0000;padding:7px;background-color:#FFFFFF}
.stats_red legend {color:#ff0000;font-weight:bold;font-size:11px;border:0px;;padding:3px;}

div.workarea { padding:10px; float:left; }

ul.draglist { 
    position: relative;
    width: 200px; 
    height:400px;
    background: #f7f7f7;
    border: 1px solid gray;
    list-style: none;
    margin:0;
    padding:0;
    overflow:auto; 
}

ul.draglist li {
    margin: 1px;
    cursor: move;
    zoom: 1;
}

ul.draglist_alt { 
    position: relative;
    width: 200px; 
    list-style: none;
    margin:0;
    padding:0;
    /*
       The bottom padding provides the cushion that makes the empty 
       list targetable.  Alternatively, we could leave the padding 
       off by default, adding it when we detect that the list is empty.
    */
    padding-bottom:20px;
}

ul.draglist_alt li {
    margin: 1px;
    cursor: move; 
}


li.list1 {
    background-color: #D8D4E2;
    border:1px solid #6B4C86;
    height:17px;
    text-align: left;
    padding-top: 3px;
    font-weight: bold;
	font-size: 11px;
	color: #003463;
}

li.list2 {
    background-color: #EBEBEB;
    border:1px solid #CCCCCC;
    height:17px;
    text-align: left;
    padding-top: 3px;
    font-weight: bold;
	font-size: 11px;
	color: #003463;
}

#user_actions { float: right; }

#left1 a {color:#0b0a00;}


td .datum {width:50px;text-align:right;}
td .status {width:15px;}
td .status2 {width:70px;}
td .asp {width:40px;}
td .agentur {width:200px;font-weight:bold;}
td .kampagne {width:200px;font-weight:bold;}
td .k_name {width:250px;font-weight:bold;}
td .kampagne_nv {width:200px;font-weight:normal;}
td .k_name_nv {width:250px;font-weight:normal;}
td .gebucht {width:60px;font-weight:bold;}
td .versendet {width:60px;font-weight:bold;}
td .versendet_nv {width:60px;font-weight:normal;}
td .w45 {width:45px}
td .open_quote {width:45px;font-weight:bold;}
td .open_quote_a {width:45px;font-weight:bold;}
td .klicks_quote {width:45px;font-weight:bold;}
td .klicks_quote_a {width:45px;font-weight:bold;}
td .zielgruppe {width:200px}
td .betreff {width:250px}
td .absender {width:100px}
td .tkp {width:45px}
td .ap {width:100px}
td .mailformat {width:50px}
td .kategorie {width:100px}
td .bearbeiter {width:100px}
td .gestartet {width:100px}
td .beendet {width:100px}
td .tp {width:25px}
td .bl {width:25px}
td .notiz {width:150px}

#welcome td {height:20px;}

.h3img{
	padding-top:5px;
	float:left;
	border:0px;
}

.liimg{
	padding-right:5px;
	float:left;
	border:0px;
}

.mymenuli {
	color: #FFFFFF;
	padding-left:7px;
}

.mymenulabel {
	float:left;
	margin-top:9px;
	margin-left:7px;
	font-size:11px;
}

.mymenulabela {
	float:left;
	margin-top:1px;
	font-weight:bold;
}

  .treebg {
   	background-color:#F2F2F2;
  }

  u.Navigation li {
    list-style: none;
    margin: 0; padding: 0;
  }
  
  .Navigation div {
   border-bottom:1px solid #CCCCCC;
   cursor: pointer;
  }
  

  .Navigation table {
    display:block;
    text-decoration: none;
    font-weight: bold;
	background-color:#40547A;
    color: #F5F5F5;
  }

  .Navigation div:hover, .Navigation div table:hover {
    color: #FFFFFF;
    cursor: pointer;
	background-color:#40547A;
  }
  
  .Navigation div:active, .Navigation div table:active {
    color: #FFFFFF;
    cursor: pointer;
	background-color:#40547A;
  }

  .Navigation td {height:30px;font-size:11px;font-weight:bold}
  
.yui-skin-sam .yui-resize .yui-resize-handle { 
	    background-color: #F2F2F2; 
		width:99%;
		right:7px;
} 

.yui-skin-sam .yui-resize .yui-resize-handle-active { 
	    background-color:#bec1ff;
	    zoom: 0; 
} 

.yui-skin-sam .yui-resize-proxy { 
	   border: 1px dashed #426FD9; 
	   zoom: 0; 
} 




.hd { 
	height:25px;
	text-align:left;
	vertical-align:middle;
	font-size:10px;
	margin-top: 0px;
	line-height: normal;
}


.hd_label {
	color:#FFFFFF;
	font-size:14px;
	padding: 0px;
	background-image:none;
	display:block;
}

.panel_label {
	color:#FFFFFF;
	font-size:14px;
	float:right;
	margin-top:5px;
	margin-right:35px;
}

.panel_label_k {
	color:#FFFFFF;
	font-size:14px;
	float:right;
	margin-top:5px;
	margin-right:10px;
}


#hd_sublabel {
	color:#666666;
	font-size:11px;
	font-weight:normal;
	margin-top: -10px;
	padding: 0px;
}

.hd_sublabel {
	color:#666666;
	font-size:11px;
	margin-top:-10px;
	font-weight:normal;
	padding: 0px;
}

#hd_status_sublabel {
	color:#666666;
	font-size:11px;
	margin-top:-20px;
	font-weight:normal;
	padding: 0px;
}

.yui-skin-sam .yui-panel-container.shadow .underlay {
	background-color: black;
	bottom: -3px;
	left: 3px;
	opacity: 0.12;
	position: absolute;
	right: -3px;
	top: 2px;
}

.yui-panel .container-close {
	top:3px;
	right:4px;
	padding-right:4px;
}

.yui-panel .bd {
	overflow:hidden;
	padding:10px;
	border:1px solid #aeaeae;
	background-color:#FFF;
}

.ft_ {
	font-size:12px;
	color:#000;
	padding:5px;
	height:55px;
	border:1px solid #aeaeae;
	background-color:#666666;
	text-align: right;
	vertical-align: middle;
}



.scrollTable table td, .scrollTable table th
{
	vertical-align: middle;
	text-align: left;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
	border-bottom: solid 1px #CCCCCC;
	height:28px;
	border-right: solid 1px #CCCCCC;
}


.scrollTable table tr
{
	cursor:pointer;
}

.tab_spacer {border-right:0px;}

.k_fest {style="border-right:1px solid #DBB7FF;"}

.status_table {
	width:100%;
	font-size:10px;
}

.status_table td {
	padding:4px;
	color:#666666;
}

.status_td_bg {
	background-color:#E4E4E4;
}

.status_label {
	font-size:12px;
	font-weight:bold;
	color:#8e8901;
}

.status_inp {
	width:25px;
	text-align:center;
	vertical-align:top;
}


.yui-panel .container-close { 
    position:absolute; 
	top:5px; 
    right:2px; 
} 

.yui-skin-sam .yui-dialog .ft span.default {
	background: url(../img/treaction_panel_button_hover.png);
	border-color:#8e8901;
}

.yui-skin-sam .yui-dialog .ft span.default .first-child {
	border-color:#8e8901;
}
/*add background-color and border-color for div */
.yui-skin-sam .yui-dialog .ft div.default {
	background: url(../img/treaction_panel_button_hover.png);
	border-color:#8e8901;
}

.yui-skin-sam .yui-dialog .ft div.default .first-child {
	border-color:#8e8901;
}

/*KALENDER*/
.yui-skin-sam .yui-calcontainer.single { 
	    background-color:#FFFFFF; 
	    border:1px solid #D9B5EE; 
	    padding:10px;
} 

.yui-skin-sam .yui-calcontainer.multi { 
	    padding:5px; 
	    border:1px solid #D9B5EE; 
} 

.yui-skin-sam .yui-calendar td.calcell a { 
	    color:#8e8901; 
	    display:block; 
	    height:100%; 
	    text-decoration:none; 
}


.yui-skin-sam .yui-calendar td.calcell.today { 
	    background-color:#8e8901; 
		color:#fff;
} 
	
.yui-skin-sam .yui-calendar td.calcell.today a { 
	    background-color:#FFFFFF; 
		color:#8e8901;
} 

/* SELECTED DATE */ 
.yui-skin-sam .yui-calendar td.calcell.selected { 
	background-color:#8e8901; 
    color:#fff; 
} 

.yui-skin-sam .yui-calendar td.calcell.selected a { 
	background-color:#8e8901; 
	color:#fff; 
} 

.yui-skin-sam .yui-calendar td.calcell.calcellhover { 
	    background-color:#8e8901; 
	    color:#fff; 
	    cursor:pointer; 
} 
	
.yui-skin-sam .yui-calendar td.calcell.calcellhover a { 
	    background-color:#8e8901; 
	    color:#fff; 
}


#status_bl {
	width: 320px;
}

#status_bl td {
	padding:5px;
	font-size:12px;
}

.yui-skin-sam tr.yui-dt-even { background-color:#FFF; } /* white */ 
.yui-skin-sam tr.yui-dt-odd { background-color:#E4E4E4; } /* light blue */ 
.yui-skin-sam tr.yui-dt-even td.yui-dt-asc, 
.yui-skin-sam tr.yui-dt-even td.yui-dt-desc { background-color:#E4E4E4; } /* light blue sorted */ 
.yui-skin-sam tr.yui-dt-odd td.yui-dt-asc, 
.yui-skin-sam tr.yui-dt-odd td.yui-dt-desc { background-color:#D4D4D4; } /* dark blue sorted */ 
/* disable striping in list mode */ 
.yui-skin-sam .yui-dt-list tr.yui-dt-even { background-color:#FFF; } /* white */ 
.yui-skin-sam .yui-dt-list tr.yui-dt-odd { background-color:#FFF; } /* white */ 
.yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-asc, 
.yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-desc { background-color:#E4E4E4; } /* light blue sorted */ 
.yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-asc, 
.yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-desc { background-color:#E4E4E4; } /* light blue sorted */ 
 
 
.ovTable {
 border: 1px solid #CCCCCC;
 background-color:#FFFFFF;
}

.ovTable td{
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
 
.ovHeader {
	font-size: 24px;
	font-weight:bold;
	color:#CCCCCC;
	padding-bottom:25px;
	padding-top:10px;
	padding-left:5px;
	height:40px;
	background-color:#FFFFFF;
	border-bottom: 1px solid #999999;
} 

.ovFooter {
	float:left;
	font-size: 24px;
	font-weight:bold;
	color:#333333;
	height:50px;
	background-color:#F2F2F2;
	width:100%;
} 

.kOV_table {
 margin-top:15px;
}

.ovTR {
 background-color:#DEDEDE;
 font-weight:bold;
}

.ovTR1 {
 background-color:#FFFFFF;
}

.ovTR2 {
 background-color:#F2F2F2;
}

.ovTR1 td{
 border-top: 1px solid #CCCCCC;
 border-bottom: 1px solid #CCCCCC;
}

.ovBlock {
	background-color:#8e8901;
	color:#FFFFFF;
	font-weight:bold;
	width:100%;
	height:20px;
}

.ovTR1_label {
	font-size:12px;
	font-weight:bold;
	color:#8e8901;
}

.ovTR1_label2 {
	font-size:18px;
	font-weight:bold;
	color:#333333;
	text-align:right;
}

.ovTR1_label3 {
	font-size:18px;
	font-weight:bold;
	color:#999999;
	text-align:right;
}


.bg2 {
	background-color: #E4E4E4;
}

.rechteButton {
	color:#666666;
	text-decoration:none;
}

.rechteButton:hover {
	text-decoration:underline;
}

input {

}


.yui-skin-sam .yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle {
	display: block;
	height: 20px;
	padding-left: 0.5em;
	padding-bottom: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	/*background-color: #40547A;*/
	background-color: #8e8901;
    background-repeat:repeat-x;
	position: relative;
	cursor: pointer;
	border-bottom:1px solid #CCCCCC;
}

.yui-skin-sam .yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle:hover {
	/*background-image: url('http://maas.treaction.de/meta/test/ems2/img/menu_button_hover.png');*/
	background-color: #555555;
    background-repeat:repeat-x;
}
.yui-skin-sam .yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle.active {
	/*background-image: url('http://maas.treaction.de/meta/test/ems2/img/menu_button_hover.png');*/
	background-color: #555555;
    background-repeat:repeat-x;
	color: #fff;
}
.yui-skin-sam .yui-accordionview li.yui-accordion-panel a.yui-accordion-toggle.active:hover {
	background-image: url('http://maas.treaction.de/meta/test/ems2/img/menu_button_hover.png');
    background-repeat:repeat-x;
}

.tcm_table {
	background-color:#FFFFFF;
	border-collapse:collapse;
}

.tcm_table td{
	padding:5px;
	border:1px solid #CCCCCC;
}

.tcm_table th{
	padding:5px;
	font-weight:bold;
	background-color:#EAEAEA;
	color:#212121;
	border-bottom:1px solid #333333;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
}

.tcm_summe td {
	border-top: 2px solid #333333;
	font-weight:bold;
}

.tcm_table .tcm_mandant {
	font-weight:bold;
	color:#212121;
	height:40px;
	vertical-align:bottom;
	border-left:0px;
	border-right:0px;
}

.tcm_mandant img{
	margin-bottom:-5px;
	margin-right:10px;
}

.tcm_table .tcm_date {
	white-space: nowrap;
}

#versenderInfo tr td {
    text-align: left;
    padding:2px;
    background-color: #FFFFFF;
    border: 1px solid #999999;
}

.vLabel{font-weight: bold;}

.bBottom {border-bottom: 2px solid #333333;}