.button {
	margin: 0;
	padding: 0 6px;
}

.fontStyle.normal {
	font-weight: normal;
}
.fontStyle.bold {
	font-weight: bold;
}

.align.left {
	text-align: left !important;
}
.align.center {
	text-align: center !important;
}
.align.right {
	text-align: right !important;
}


.alertInfo {
    color: red;
    font-weight: bold;
}
.datei-button {
	background-color: #8e8901; 
	color: #FFFFFF; 
	border-color: #8e8901; 
	padding: 2px;
}
.table-button {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color: #8e8901; 
	color: #FFFFFF; 
	border-color: #8e8901; 	
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	font-family:Verdana;
	padding:0px 10px;
	text-decoration:none;
}
/* float Settings */
.floatLeft, .float.left {
    float: left;
}
.floatRight, .float.right {
    float: right;
}
.clearBoth {
    clear: both;
}

.spacerLeftWrap {
    margin-left: 20px;
}
.spacerRightWrap {
    margin-right: 20px;
}
.spacerTopWrap {
    margin-top: 10px;
}
.marginTop {
    margin-top: 3px;
}

.widthAuto {
    width: auto !important;
}
.widthFull {
	float: none;
	clear: both;
	width: 100%;
}
.reset.margin {
	margin: 0;
}
.reset.padding {
	padding: 0;
}

.defaultFormFields {
	color: #000;
	font-weight: normal;
}
.defaultFormFields label {
	color: #000;
    float: none;
    display: inline;
    margin: 0 6px;
}

.required {
    color: red;
}
.required:after {
    content: ' ';
}

.hide {
    display: none;
}
.toggleHide {
    display: none;
    visibility: hidden;
}


/* table Settings */
.table {
    font-size: 11px;
	border-collapse: collapse;
    width: 100%;
	
    margin: 2px 0;
}
.table td, .table th {
    height: auto;
    padding: 4px 5px;
}

.table td > table.table {
    margin: -4px -5px;
    width: 102%;
}

.table thead tr, .table tfoot tr {
    background-color: #666666;
    color: #fff;
}
.headerStyleColumn, .footerStyleColumn {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.table tbody tr:nth-child(even) {
    background-color: #F2F2F2;
}
.table tbody tr:nth-child(odd) {
    background-color: #E4E4E4;
}

.clearTable tbody tr {
	background-color: transparent !important;
}

.noBorder {
    border: 0 none;
}

.noTopBorder {
    border-top: 0 none;
}
.noBottomBorder {
    border-bottom: 0 none;
}