.extendedTable {}
.neu_k.extendedTable td > table.extendedTable td {
    height: 20px;
}
.extendedTable tr:nth-child(even), .evenRow {
    background: #F2F2F2;
}
.extendedTable tr:nth-child(odd), .oddRow {
    background: #E4E4E4;
}
.footerRow {
    background: #E4E4E4;
}

.headerColumn {
    color: #333;
    font-weight: bold;
    font-size: 12px;
}
.headerStyleColumn {
    border-top: 2px solid #333333;
    border-left: 0px; 
    border-right: 0px; 
    text-align: left;
}
th.noBorder, td.noBorder {
    border: 0 none;
}
th.transparent, td.transparent {
    background: none;
}

td.topPaddingWrapper {
    padding-top: 10px;
}
.advertisingsItems {}
.extendedTable.advertisingsItems td > table.advertisingsItems td {
    height: 20px;
}
.advertisingsItems tbody tr:nth-child(1) {
    background: #8e8901;
	color: #FFFFFF;
}
.advertisingsItems tbody tr:nth-child(1) td a {
	color: #FFFFFF;
    text-decoration: none;
}
.advertisingsItems tbody tr:nth-child(1) td a:hover {
	color: #000000;
}