#umsatz_jahr table td {
	padding: 3px;
}

.label_umsatz_jahr {
	font-size: 16px;
	font-weight:bold;
	color: #7D960B;
}

.umsatz_kunde {
	font-weight:bold;
	color: #565656;
}

.umsatz_data {
	font-weight:bold;
	color: #7D960B;
	text-align:right;
}

.umsatz_sum {
	background-color: #7D960B;
	font-weight:bold;
	color: #FFFFFF;
}

