body, html {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

table 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
a {text-decoration:none;color:blue}
a:visited {text-decoration:none;}
a:hover {color:#ff6600}

#tabelle 
{
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#tabelle td{border: thin gray solid;}
.ueberschrift {font-weight:bold;background-color:#D8D8DA;color:#000000;}
#hilfe {
	width:300px;
	margin-left:15px;
	float:left;
	color:#333333;
}

.bg_blau {background-color:#EDF5FF;}
.bg_weiss {background-color:#FFFFFF;}
#hilfe h1 {color:#0066FF;font-size:12px;font-weight:bold;}

#menu a {color:#FFFFFF;text-decoration:none;font-weight:bold;}
#menu a:visited {color:#FFFFFF;text-decoration:none;font-weight:bold;}
#menu a:hover{border-bottom:1px solid #FF00FF;color:#FFFFFF;}
.a_selected {border-bottom:1px solid #FF00FF;color:#FFFFFF;}