@import "formular.css";

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
}
.clear-float {
	clear: both;
}

#start {
	margin: 20px auto;
	padding: 0;
	text-align: left;
	width: 760px;
	border: 1px solid #8e8901;
	background: #efefef;
}

/* Überschrift oben*/
h1 {
	background: #8e8901;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 10px;
	margin: 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
}

#content {
	margin: 0;
	padding: 8px 20px;
}

#trennlinie {
	margin: 0;
	padding: 0;
	clear: both;
	background: #4c4c4c;
	height: 3px;
	line-height: 3px;
}

#inhalt {
	margin: 20px 0;
	height: 99%;
}


h2 {
	font-size: 14px;
	margin: 8px 0 0 0;
	padding: 0 0 5px 0;
	color: #8e8901;
}
h3 {
	font-size: 13px;
	margin: 12px 0 0 0;
	padding: 0 0 5px 0;
	color: #444444;
}
h4 {
	font-size: 14px;
	margin: 8px 0 0 0;
	padding: 0 0 5px 0;
	color: #ff0000;
}
p {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #8e8901;
}

dl {
	margin: 5px 0;
	padding: 0;
}
dt, dd {
	margin: 1px 0;
	padding: 1px;
	width: 76%;
	float: left;
}
dt {
	font-weight: bold;
	width: 20%;
}

.error {
	font-weight: bold;
	color: #FF0000;
}



/* Details */
h2#details {
	background: url(../imgs/jquery_ui/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 20% 55% repeat-x;
	margin: -2px;
	padding: 6px;
	color: #ffffff;
}

#infobox {
	margin: 30px 6px 0 0;
}
#infobox div {
	padding: 10px;
	border: 1px dotted #000033;
	background: #f7f7f7;

}

#doi_info {
	font-weight: bold;
	color: #ff0000;
	padding: 6px 0 0px 0;
}

#error_message {
	margin: 12px 15px;
	padding: 0;
	color: #FF0000;
	font-weight: bold;
	font-size: 12px;
}
#error_message ul {
	margin: 5px 15px;
	padding: 0 15px;
}
#error_message ul li {
	margin: 0;
	padding: 2px 0;
}


/* thickbox */
#close {
	background: #8e8901;
	color: #ffffff;
	text-align: right;
	font-weight: bold;
	padding: 5px 10px;
}
#close a {
	color: #ffffff;
	text-transform: uppercase;
}

#danke_seite {
	padding: 4px 10px;
}


/* Default tooltip class name: */
#tooltip {
	position: absolute;
	z-index: 3000;
	padding: 0;
	margin: 0;
}

.tooltip_normal {
	background: url(../imgs/tooltip/tooltip_hg.gif) no-repeat;
	width: 160px;
	height: 84px;
	opacity: 0.90;
}
.tooltip_normal h3 {
	margin: 38px 8px 8px 8px;
}