#tooltip {
	position: absolute;
	z-index: 3000;
	padding: 0;
	margin: 0;
}
#tooltip h3 {
	padding: 0;
	font-size: 12px;
	font-weight: normal;
}
#tooltip div {
	font-weight: bold;
}


.tooltip_normal {
	background: url(../../imgs/jquery_tooltip_hg.gif) no-repeat;
	width: 160px;
	height: 84px;
	opacity: 0.90;
}
.tooltip_normal h3 {
	margin: 38px 8px 8px 8px;
}

.tooltip_email {
	background:url(../../imgs/jquery_tooltip_email.gif) no-repeat;
	width: 200px;
	height: 140px;
	opacity: 0.96;
}
.tooltip_email h3 {
	margin: 52px 8px 8px 8px;
}